
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');


* {
  font-family: 'Nunito', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
}

body {
  background-color: #111;
  overflow-x: hidden;
  padding-left: 30rem;
}

section {
  /* min-height: 100%; */
  min-height: 100vh;
  padding: 1rem;
}

header {
  position: fixed;
  top: 0;left: 0;
  height: 100%;
  width: 25rem;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

header img {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  object-fit: cover; 
  border: 5px solid lightblue; 
  /* important object property */
}

header .name {
  font-size: 1.7rem;
  color: #fff;
}

header .profi {
  font-size: 1.2rem;
  color: #fff;
}


header .navbar .list {
  list-style: none;
}

header .navbar .list li a {
  background-color: #333;
  display: block;
  text-align: center;
  width: 20rem;
  margin: 10px auto;
  padding: 10px;
  border-radius: 20px;
  color: #fff;
  font-size: 1.2rem;
}

header .navbar .list li a:hover{
  background-color: lightblue;
}

#menu {
  position: fixed;
  top: 2rem;right: 2rem;
  background-color: #333;
  color: #fff;
  font-size: 1.3rem;
  padding: 0.7rem;
  cursor: pointer;
  display: none;
}

.home {
  color: #fff;
  padding: 2rem;
  z-index: 1000;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home h1 span {
  color: lightblue;
}

h1 {
  font-size: 2.5rem;
}

.home h3 {
  font-size: 1.5rem;
}

.home p {
  margin-bottom: 20px;
}

.row .info a,.home a {
  width: 200px;
  padding: 10px 25px;
  text-align: center;
  border-radius: 20px;
  background-color: #333;
  color: #fff;
}

.row .info a:hover,.home a:hover{
  background-color: lightblue;
}


.about {
  color: #fff;
  padding: 2rem;
}

.about h1 {
  text-align: center;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}

h1 span,.about p span {
  color: lightblue;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row .info {
  line-height: 3rem;
  width: 15rem;
}

.row .container {
  width: 25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.container .box {
  width: 10rem;
  padding: 1rem;
  margin: 1.2rem;
  text-align: center;
  background-color: black;
}

.container .box p:nth-child(1) {
  font-size: 2rem;
  color: lightblue;
}

.education h1 {
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}

.education h1 span {
  color: lightblue;
}

.container-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;
}

.box-2 {
  flex: 10rem;
  margin: 2rem;
  background-color: black;
  color: #fff;
  padding: 0.6rem 2rem 1rem;
  border-left: 1px solid #fff;
  position: relative;
}

.container-2 .box-2 p {
  padding-bottom: 0.4rem;
}

.container-2 .box-2 p span {
  color: lightblue;
}

.container-2 .box-2 i {
  color: lightblue;
  position: absolute;
  left: -1rem;
  top: -1.2rem;
  height: 2rem;
  width: 1.5rem;
  font-size: 2rem;
}

.portfolio h1 {
  text-align: center;
  border-bottom: 1px solid #fff;
  color: #fff;
  margin-bottom: 1rem;
}

.portfolio .container-3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.container-3 .box-3 img{
  width: 13rem;
  height: 10rem;
  margin: 1rem;
  border-radius: 10px;
  object-fit: cover;
}

.contact .firstheading {
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #fff;
  margin-bottom: 1rem;
}

.row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  margin: 2rem 2rem;
}

.form {
  display: block;
}

.form input {
  color: #fff;
  display: block;
  width: 24rem;
  background-color: black;
  border: none;
  margin: 0.7rem auto;
  padding: 1rem 0.7rem;
  text-transform: none;
}

.form textarea {
  color: #fff;
  display: block;
  width: 24rem;
  margin: 1rem auto;
  padding-top: 1rem;
  padding-left: 1rem;
  background-color:black;
  border: none;
  text-transform: none;
}

.row-2 .contact-info {
  color: #fff;
  line-height: 2rem;
}

.form button {
  width: 100px;
  padding: 10px 5px;
  text-align: center;
  border-radius: 20px;
  background-color: #333;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1.2rem;
}

.form button:hover {
  background-color: lightblue;
}

.row-2 .contact-info p i {
  color: lightblue;
  margin-right: 1rem;
}















